<!-- <div class="container-fluid"> -->
<div class="row">
    <span class="col-md-3">© 2018. All Rights Reserved</span>
    <span class=" text-muted" style="margin-left: 60%;">Powered by <a href="https://github.com/mbonubasil" target="_blank" style="text-decoration: none">lytecode</a></span>
</div>
<!-- </div> -->